workflows/extraction-devis-signes-v1.1-ACTIVE.json
{
  "name": "📄 Extraction Devis Signés - 100% Local",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/opt/devis/uploads",
        "events": ["add"],
        "options": {
          "ignoreInitial": true,
          "depth": 0,
          "usePolling": true
        }
      },
      "id": "trigger-correct",
      "name": "Surveiller Dossier Devis",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [240, 304]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import PyPDF2\nimport os\nfrom pathlib import Path\n\nfor item in _input.all():\n    file_path = item.json.get('path')\n    \n    try:\n        with open(file_path, 'rb') as pdf_file:\n            pdf_reader = PyPDF2.PdfReader(pdf_file)\n            text = ''\n            for page in pdf_reader.pages:\n                text += page.extract_text()\n        \n        filename = Path(file_path).name\n        \n        item.json['pdf_text'] = text\n        item.json['filename'] = filename\n        item.json['file_path'] = file_path\n        \n    except Exception as e:\n        item.json['error'] = str(e)\n        item.json['pdf_text'] = ''\n\nreturn _input.all()"
      },
      "id": "extract-pdf-1",
      "name": "Extraire Texte PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "text": "={{ $json.pdf_text }}",
        "attributes": {
          "attributes": [
            {
              "name": "quote_number",
              "description": "Le numéro du devis (ex: DEV2024-001, DEVIS-2024-123)",
              "required": true
            },
            {
              "name": "from_company",
              "description": "Nom de l'entreprise émettrice du devis",
              "required": true
            },
            {
              "name": "from_email",
              "description": "Email de l'entreprise émettrice"
            },
            {
              "name": "to_company",
              "description": "Nom du client destinataire",
              "required": true
            },
            {
              "name": "to_email",
              "description": "Email du client"
            },
            {
              "name": "quote_date",
              "description": "Date du devis au format YYYY-MM-DD",
              "required": true
            },
            {
              "name": "total_ht",
              "type": "number",
              "description": "Montant total HT (nombre décimal)"
            },
            {
              "name": "total_ttc",
              "type": "number",
              "description": "Montant total TTC (nombre décimal)",
              "required": true
            },
            {
              "name": "notes",
              "description": "Notes ou conditions particulières du devis"
            },
            {
              "name": "conditions_payment",
              "description": "Conditions de paiement (ex: 30 jours, À réception, 50% acompte)"
            },
            {
              "name": "items",
              "type": "array",
              "description": "Liste des lignes du devis avec product_name, description, quantity, unit_price, total",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "extract-info-1",
      "name": "Extraire Données Structurées",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [688, 304]
    },
    {
      "parameters": {
        "model": "qwen2.5-coder:3b-instruct",
        "options": {}
      },
      "id": "ollama-model-1",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [688, 480],
      "credentials": {
        "ollamaApi": {
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const defaultEmail = 'compta@aurastackai.fr';\n\nfor (const item of $input.all()) {\n  if (!item.json.from_email || item.json.from_email.trim() === '') {\n    item.json.from_email = defaultEmail;\n  }\n  if (!item.json.to_email || item.json.to_email.trim() === '') {\n    item.json.to_email = defaultEmail;\n  }\n}\n\nreturn $input.all();"
      },
      "id": "set-default-email",
      "name": "Définir Email par Défaut",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [976, 304]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "devis_signes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quote_number": "={{ $json.quote_number }}",
            "from_company": "={{ $json.from_company }}",
            "from_email": "={{ $json.from_email }}",
            "to_company": "={{ $json.to_company }}",
            "to_email": "={{ $json.to_email }}",
            "quote_date": "={{ $json.quote_date }}",
            "total_ht": "={{ $json.total_ht }}",
            "total_ttc": "={{ $json.total_ttc }}",
            "notes": "={{ $json.notes }}",
            "conditions_payment": "={{ $json.conditions_payment }}",
            "file_path": "={{ $('Extraire Texte PDF').item.json.file_path }}"
          }
        },
        "options": {}
      },
      "id": "insert-devis-1",
      "name": "Insérer Devis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1168, 304],
      "credentials": {
        "postgres": {
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst quote_number = $input.item.json.quote_number;\nconst lineItems = $input.item.json.items || [];\n\nfor (const item of lineItems) {\n  items.push({\n    json: {\n      quote_number: quote_number,\n      product_name: item.product_name || '',\n      description: item.description || '',\n      item_type: item.item_type || 'service',\n      quantity: parseFloat(item.quantity) || 1,\n      unit_price: parseFloat(item.unit_price) || 0,\n      total: parseFloat(item.total) || 0\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "prepare-items-1",
      "name": "Préparer Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1376, 304]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "lignes_devis"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quote_number": "={{ $json.quote_number }}",
            "product_name": "={{ $json.product_name }}",
            "description": "={{ $json.description }}",
            "item_type": "={{ $json.item_type }}",
            "quantity": "={{ $json.quantity }}",
            "unit_price": "={{ $json.unit_price }}",
            "total": "={{ $json.total }}"
          }
        },
        "options": {}
      },
      "id": "insert-items-1",
      "name": "Insérer Lignes Devis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1584, 304],
      "credentials": {
        "postgres": {
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import shutil\nimport os\nfrom pathlib import Path\n\nfor item in _input.all():\n    source = $('Extraire Texte PDF').item.json.get('file_path', '')\n    \n    if source and os.path.exists(source):\n        filename = Path(source).name\n        destination = f'/opt/devis/processed/{filename}'\n        \n        try:\n            shutil.move(source, destination)\n            item.json['moved_to'] = destination\n            item.json['status'] = 'success'\n            item.json['message'] = f'Fichier déplacé vers {destination}'\n        except Exception as e:\n            item.json['error'] = str(e)\n            item.json['status'] = 'error'\n            item.json['message'] = f'Erreur lors du déplacement: {str(e)}'\n    else:\n        item.json['error'] = 'Source file not found or empty'\n        item.json['status'] = 'error'\n        item.json['message'] = f'Fichier source introuvable: {source}'\n\nreturn _input.all()"
      },
      "id": "move-file-1",
      "name": "Déplacer vers Processed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1808, 304]
    }
  ],
  "connections": {
    "Surveiller Dossier Devis": {
      "main": [[{"node": "Extraire Texte PDF", "type": "main", "index": 0}]]
    },
    "Extraire Texte PDF": {
      "main": [[{"node": "Extraire Données Structurées", "type": "main", "index": 0}]]
    },
    "Extraire Données Structurées": {
      "main": [[{"node": "Définir Email par Défaut", "type": "main", "index": 0}]]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [[{"node": "Extraire Données Structurées", "type": "ai_languageModel", "index": 0}]]
    },
    "Définir Email par Défaut": {
      "main": [[{"node": "Insérer Devis", "type": "main", "index": 0}]]
    },
    "Insérer Devis": {
      "main": [[{"node": "Préparer Items", "type": "main", "index": 0}]]
    },
    "Préparer Items": {
      "main": [[{"node": "Insérer Lignes Devis", "type": "main", "index": 0}]]
    },
    "Insérer Lignes Devis": {
      "main": [[{"node": "Déplacer vers Processed", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Europe/Paris",
    "executionOrder": "v1"
  }
}